module.exports = {
    THE_ISLE:{
        INJECTION_TEMPLATE_PATH: './templates/dinosaurs/injection/',
    },
    FTP: {
        PLAYER_PROFILE_PATH: '/data/TheIsle/Saved/Databases/Survival/Players/',
    },
    REGEX: {
        STEAM_ID: '^[0-9]{17}$',
        GENDER: '^(f|female|m|male)$',
    },
};