module.exports = {
    THE_ISLE:{
        INJECTION_TEMPLATE_PATH: './templates/dinosaurs/injection/',
    },
    FTP: {
        PLAYER_PROFILE_PATH: '/data/TheIsle/Saved/Databases/Survival/Players/',
    },
    REGEX: {
        STEAM_ID: '^[0-9]{17}$',
        GENDER: '^(f|female|m|male)$',
    },
    DISCORD: {
        BANKING_CHANNEL_NAME: 'banking',
        DINO_CHANNEL_NAME: 'dino-requests',
        REGISTER_CHANNEL_NAME: 'registration',
        LABOR_CHANNEL_NAME: 'labor',
    },
    BANKING:{
        CURRENCY: '$',
    },
    LABOR: {
        MIN_AMOUNT: 100,
        MAX_AMOUNT: 1500,
        MINUTES_BETWEEN: 120,
    }
};